pygame-ce
sounddevice
numpy
edge-tts
psutil
pyautogui
SpeechRecognition
requests
openai
vosk
scipy
chromadb
python-dotenv
tinytuya
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pywin32